<h1>Project</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Start_date</th>
            <td>{{ entity.startdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>End_date</th>
            <td>{{ entity.enddate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Link_google</th>
            <td>{{ entity.linkgoogle }}</td>
        </tr>
        <tr>
            <th>Link_draft</th>
            <td>{{ entity.linkdraft }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('project_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
